:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  padding: 0;
  margin:0;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); 
  background-color: #242424;
  font-synthesis: none;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a {
  font-weight: 500;
  color: #ffff;
  text-decoration: inherit;
}
a:hover {
  color: red;
}

body {
  /* margin:0;
  padding: 0; */
}

h1 {
  margin-top: 0;
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* CSS */


/* HOME */
.hero-section{
  width: fit-content;
  height: fit-content;

    & .hero-content h3{
      font-size: 1rem;      
    }

    & .hero-content .hero-text{
      color: red;
      word-wrap: break-word;
    }

    & .hero-content a{
      padding: 2rem 2rem;
    }

    & .hero-content .hero-button{
      font-size: 0.8rem;
      color: #ffffff;
      margin-top: 2rem;
    }
  }
  .grid-container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr; /* default to one column */
    gap: 20px;
  }


/* HOME */

/* ABOUT */
p{
  font-size: 1.2rem;
  font-style: oblique;
  margin-top: 1rem;
}
p:hover{
  font-size: 1.3rem;
}
img:hover{
  transform: scale(1.1);
}
.hero-title{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.hero-title:hover{
  font-size: 1.7rem;
}
label{
  font-size: 1rem;
  margin-bottom:0.4rem;  
}

.form-container{
  display: flex;
  flex-direction: column;
  margin-left: 8rem;
  padding:0.5rem 2rem 1rem 2rem;
  /* background-image: url('https://img.freepik.com/premium-vector/black-white-triangle-abstract-mesh-texture-illustration_199726-12880.jpg?w=360'); */
}
.form-container label{
  font-size: 0.8rem;
  display: flex;
}
.form-container input{
  padding: 0.5rem 10rem 0.5rem 0.5rem;
  margin-bottom: 0.5rem;
}
.form-container button{
  margin-top:0.8rem;
  font-size: 0.8rem;
}
.forgot-buttons{
  font-size: small;
  margin-top: 1.3rem;
  display: flex;
  justify-content: space-between;
}
.reach-text{
  margin-top: 1.5rem;
  opacity: 0.6;
}
.signin-icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem 0rem 1rem;
  gap: 5rem;
}
.signin-icons a{
  font-size: 1.5rem;
}

.error-container{
  background-image: linear-gradient(blue);
}
.error-404{
  top:0;
  font-size: 15rem;
  background-image: linear-gradient(red);

}
.maps-container{
  bottom:0;
}

/*Services*/
.services-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr ;
  margin-top: 3rem;
  gap:7rem;
}
.card-container{
  border: 2px solid blue;
  padding: 1rem;
  border-radius: 1rem;
}

.admin-layout{
  margin-top: 7rem;
  display: grid;
  grid-template-columns: 30% 80%;
}
.admin-content{
  border:2px solid red;
}
.admin-sidebar{
  border:2px solid black;
  width:15rem;
  height:fit-content;
}
.admin-sidebar ul{
 list-style: none;
}
.admin-sidebar li{
  margin:3rem
}
.users-data{
  justify-content: center;
  align-items: center ;
}
.admin-table{
  border-collapse: separate;

}
.table-row{
  box-shadow: 0 0.1rem 0 grey;
}
.table-row td{
  padding: 1.3rem;
}
.table-header-row{
  box-shadow: 0 0.3rem 0 teal;
  margin-bottom: 10px;
  align-items: center;
  border-bottom: 4px solid transparent;
}
.table-header-row td{
  padding:1rem;
}



@media (min-width: 768px) { 
  .grid-container {
    grid-template-columns: 1fr 1fr; 
  }
}
@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr ; /* switch to two columns */
  }
  .image-item{
    width: 50%;
    height: 50%;
  }
  .form-container{
    margin:0rem 2rem 2rem 1rem;
  }
}

